< !Doctype html>
<html>
    <head>
        <!----CSS STYLES ------->
        <!----CSS STYLES END---->
    </head>
    
    <body>
        
        
        <!-----SCRIPTS------->
        <!----SCRIPTS END---->
    </body>
</html>
